*/1 * * * * echo "[SUPERCRONIC-TEST] $(date)" >> /var/log/cron.log
*/1 * * * * PGPASSWORD=password pg_dump -h db -U aragami -d voluntarydb -Fc > /sql/backups/voluntarydb_$(date +\%Y-\%m-\%d_\%H-\%M-\%S).dump 2>> /var/log/cron.log
